@model System.Collections.Generic.List<VideoShop.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (!Model.Any())
{
    <p>We don't have any customers in our Database</p>
}
else
{
    <table class="table table-hover table-bordered">
        <thead>
        <td>Name</td>
        <td>Membership Type</td>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name, "Edit", new {Id = customer.Id})</td>
                    <td>@customer.MembershipType.Name</td>
                </tr>
            }        
        </tbody>
    </table>
}